<div class="panel panel-default">
<div class="panel-heading"> 
Edytuj usługę </div>
<div class="panel-body"> 
 <div class="col-lg-6">


<%= render 'form' %>
</div> </div>
<div class="panel-footer">
<%= link_to 'Pokaż', @service, class:"btn btn-success" %> 
<%= link_to 'Wstecz', services_path, class:"btn btn-info" %>
</div></div>
