<div class="panel panel-default">
<div class="panel-heading"> 
Edytuj Firmę Ubezpieczającą</div>
<div class="panel-body"> 
 <div class="col-lg-6">

<%= render 'form' %>

<%= link_to 'Pokaż', @insurer, class:"btn btn-success" %> 
<%= link_to 'Wróć', insurers_path, class:"btn btn-info" %>
</div></div>