<div class="panel panel-default">
<div class="panel-heading"> 
Nowa firma Ubezpieczeniowa</div>
<div class="panel-body"> 
 <div class="col-lg-6">

<%= render 'form' %>

<%= link_to 'Wróć', insurers_path, class:"btn btn-info" %>
</div></div>
