<div class="panel panel-default">
<div class="panel-heading"> 
Edytuj lekarza</div>
<div class="panel-body"> 
 <div class="col-lg-6">

<%= render 'form' %>

<%= link_to 'Show', @doctor , class:"btn btn-success" %> 
<%= link_to 'Back', doctors_path, class:"btn btn-info" %>
</div>
</div>