<% if user_signed_in? %>
                <div class="col-md-3 col-sm-6 col-xs-6">
    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-eyedropper fa-1x"></i>
                </span>
                <div class="text-box" >
                  
                    <a href=""><p class="text-muted"><h4>Ubezpieczyciele</h4></p></a>
                </div>
             </div>
       </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-key fa-1x"></i>
                </span>
                <div class="text-box" >
                    
                    <a href=""><p class="text-muted"><h4>Rejestracja</h4></p></a>
                </div>
             </div>
       </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue set-icon">
            <i class="fa fa-heartbeat fa-1x"></i>
                  
                </span>
                <div class="text-box" >
                 
                    <a href=""><p class="text-muted"><h4>Wizyty</h4></p></a>
                </div>
             </div>
       </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-brown set-icon">
                     <i class="fa fa-search fa-1x"></i>
                </span>
                <div class="text-box" >
               
                    <a href=""><p class="text-muted"><h4>Wyszukiwarka</h4></p></a>
                </div>
                </div>
      </div>
      <% end %>
    
             
                 <!-- /. ROW  -->
          