<div class="panel panel-default">
Dodaj nową wizytę</div>
<div class="panel-body"> 
 <div class="col-lg-6">

<%= render 'form' %>
</div></div>
<div class="panel-footer">

<%= link_to 'Wstecz', appointments_path, class:"btn btn-info" %>
</div>
