<div class="panel panel-default">
<div class="panel-heading"> 
Edytuj kategorię</div>
<div class="panel-body"> 
 <div class="col-lg-6">

<%= render 'form' %>
</div></div>
<div class="panel-footer">
<%= link_to 'Pokaż', @category, class:"btn btn-success", :style =>'color:white;' %> 
<%= link_to 'Wróć', categories_path, class:"btn btn-info", :style =>'color:white;' %>
</div></div>
