<p>Witaj <%= @resource.email %>!</p>

<p>Ktoś poprosił o zmianę hasła do konta zarejestrowanego na ten email. Możesz tego dokonać klikając link poniżej.</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli nie prosiłeś o tego maila zignoruj go.</p>
<p>Twoje hasło nie zostanie zmienione póki nie wejdziesz w tego linka i nie ustawisz nowego.</p>
