<p>Witaj <%= @resource.email %>!</p>

<p>Twoje konto zostało zablokowane na skutek zbyt wielu nieudanych prób logowania.</p>

<p>Użyj tego linka by odblokować swoje konto:</p>

<p><%= link_to 'Odblokuj moje konto', unlock_url(@resource, unlock_token: @token) %></p>
